
.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 10rem;
    max-width: 500px;
    background-color: var(--primary-bg);
}

.navigation__link {
    color: white;
    text-decoration: none;
}